<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdwin.moov.features.homelist">

    <application>
        <activity android:name=".HomeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="moov"
                    android:host="homelist"/>
            </intent-filter>
        </activity>
    </application>
</manifest>