<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdwin.detail" >

    <application>
        <activity android:name=".detail.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="detail"
                      android:host="detail"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
